@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.body {
  font-family: 'RocknRoll One', sans-serif;
  background: #f8f8f8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 30px 0;
}

.subtitle {
  font-weight: 300;
  font-size: 13px;
}

.textfield {
  width: 55% !important;
  padding-bottom: 2%;
}

.button {
  padding: 60px;
}

.display {
  display: none;
}

.salida {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}